{% extends '::base.html.twig' %}

{% block body %}
    <h1>Vos résultats</h1>
    <table class="table table-striped">
        <tr>
            <th>Nom</th>
            <th>Note</th>
        </tr>
        {% for result in notations %}
            <tr>
                <td>{{ result.qcm.label }}</td>
                <td>{{ result.notation }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}